In [1]:
a = (1, "sam" , "pallavi") 
if "sam" in a : 
    print("Yes") 
else : 
    print("no")

Yes

In [3]:
a = (1, "sam" , "pallavi") 
print(a)
del(a)
print(a)

(1, 'sam', 'pallavi')

In [7]:
# dictionary>>A dictionary is a collection which is unorderd,changable and unindexed. in  pyrhon , dictionary are written witch curly brackets{}
# and they have keys and values means dictionary contains two things . 1.key 2. value
# examplw
a={"brand":"kia","model":"celtos","year":2022}
a

{'brand': 'kia', 'model': 'celtos', 'year': 2022}

In [8]:
# Accesing item
a={"brand":"kia","model":"celtos","year":2022}
b=a["model"]
print(b)

celtos

In [9]:
# get
b=a.get("model")
print(b)

celtos

In [10]:
# loop through a dictionary
a={"brand":"kia","model":"celtos","year":2022}
for i in a:
    print(i)

brand
model
year

In [11]:
a={"brand":"kia","model":"celtos","year":2022}
for i in a:
    print(a[i])

kia
celtos
2022

In [12]:
a={"brand":"kia","model":"celtos","year":2022}
for i in a.values():
    print(i)

kia
celtos
2022

In [14]:
a={"brand":"kia","model":"celtos","year":2022}
for x,y in a. items():
    print(x,y)

brand kia
model celtos
year 2022

In [15]:
# adding new element in dictionary
a={"brand":"kia","model":"celtos","year":2022}
a['km_driven']=5000
print(a)

{'brand': 'kia', 'model': 'celtos', 'year': 2022, 'km_driven': 5000}

In [17]:
# pre - defined function in dictionary
# len()
a={"brand":"kia","model":"celtos","year":2022}
x=len(a)
print("tota length",x)

tota length 3

In [19]:
a={"brand":"kia","model":"celtos","year":2022}
print(a)
# a.pop(a)
a.pop("model")
print(a)

{'brand': 'kia', 'model': 'celtos', 'year': 2022}
{'brand': 'kia', 'year': 2022}

In [20]:
a={"brand":"kia","model":"celtos","year":2022}
print(a)
a.popitem()
print(a)
a.popitem()
print(a)

{'brand': 'kia', 'model': 'celtos', 'year': 2022}
{'brand': 'kia', 'model': 'celtos'}
{'brand': 'kia'}

In [21]:
# del

a={"brand":"kia","model":"celtos","year":2022}
del a["model"]
del a
print(a)

NameError: name 'a' is not defined

In [22]:
# clear
a={"brand":"kia","model":"celtos","year":2022}
a.clear()
print(a)

{}

In [23]:
# copy
a={"brand":"kia","model":"celtos","year":2022}
x=a.copy()
print(x)

{'brand': 'kia', 'model': 'celtos', 'year': 2022}

In [24]:
# fromkeys
a=('firstkey','secondkey','thirdkey')
b=0
c=dict.fromkeys(a,b)
print(c)

{'firstkey': 0, 'secondkey': 0, 'thirdkey': 0}

In [25]:
# setdefult
a={"brand":"kia","model":"celtos","year":2022}
x=a.setdefault("color",'white')
a['color']='white'
print(a)

{'brand': 'kia', 'model': 'celtos', 'year': 2022, 'color': 'white'}

In [27]:
# update
a={"brand":"kia","model":"celtos","year":2022,'color':'white'}
print(a)
a.update({'color':'black'})
print(a)

{'brand': 'kia', 'model': 'celtos', 'year': 2022, 'color': 'white'}
{'brand': 'kia', 'model': 'celtos', 'year': 2022, 'color': 'black'}

In [28]:
# set
a={'good','bad','good'}
print(type(a))
print(a)

<class 'set'>
{'bad', 'good'}

In [29]:
# typecasting list to set
a=set(['mohit','sam','raj'])
print(a)

{'sam', 'raj', 'mohit'}

In [30]:
# adding element to set
a=set(['mohit','sam','raj'])
a.add("rahul")
print(a)

{'sam', 'raj', 'mohit', 'rahul'}

In [31]:
# frozenset
a=frozenset(['a','b','c'])
a.add("e")
print(a)

AttributeError: 'frozenset' object has no attribute 'add'

In [32]:
# union
a={'sam','rahul','mohit'}
b={'karan','pooja'}
c=a.union(b)
print(c)

{'rahul', 'pooja', 'karan', 'sam', 'mohit'}

In [35]:
# intersection
a={'mohit','sam','pooja','rohan'}
b={'pooja','rohan','kriti'}
c=a.intersection(b)
print(c)

{'pooja', 'rohan'}

In [37]:
# diffence of two sets using diffrence()function
a={'mohit','sam','pooja','rohan'}
b={'pooja','rohan','kriti'}
c=a.difference(b)
c=b.difference(a)
print(c)
print(d)

{'kriti'}

NameError: name 'd' is not defined

In [38]:
# clear
a={'mohit','sam','pooja','rohan'}
print(a)
a.clear()
print(a)

{'sam', 'mohit', 'pooja', 'rohan'}
set()

In [1]:
# Q:1 you are given of items , each repsented as a tuple contaning the item name and its price.whrite a function that takes this list as a input and return the total cost of all the items.
# Q:2 whrite a function that takes a list of integers as input and return a tuple contaning the minimum values and maximum from the list
#  Q:3 create a dictionary representing a booklist , where the keys are books titles,and the values are dictionary contaning 'author','genre','year',and 'rating'
#     information . write a function that takes the booklist as input  and return a list of books sorted by thir rating in desending order
# Q:4 whrite a function that takes a list of dictionaries , each repesenting a person with keys 'name'and 'age'. the function should return a new list of dictionaries , sorted by age in ascending order

In [3]:
# Q:1
item=[('momos',40),('pizza',100),('chips',10)]
def total(a):
     x=0
     for item in a:
         x=x+item[1]
     return x
print(item)
total_cost=total(item)
print("the total cost is:",total_cost)

[('momos', 40), ('pizza', 100), ('chips', 10)]
the total cost is: 150

In [2]:
# Q:2
a=[]
size=int(input("enter size:"))
for i in range (size):
    val = int(input("enter number:"))
    a.append(val)
print(a)
b=max(a)
print("maximum number is =",b) 
c=min(a) 
print("maximum number is =",c)

enter size:5
enter number:1
enter number:2
enter number:3
enter number:4
enter number:5
[1, 2, 3, 4, 5]
maximum number is = 5
maximum number is = 1

In [1]:
booklist = {
    'Book1': {'author': 'rahul', 'genre': 'Fiction', 'year': 2005, 'rating': 4},
    'Book2': {'author': 'yuvraj', 'genre': 'Fantasy', 'year': 2010, 'rating': 3},
    'Book3': {'author': 'ram', 'genre': 'Mystery', 'year': 2018, 'rating': 2},
    
}
def sort(booklist):
    books = sorted(booklist.items(), key=lambda x: x[1]['rating'],reverse=True)
    return books
rating = sort(booklist)
print(rating)

[('Book1', {'author': 'rahul', 'genre': 'Fiction', 'year': 2005, 'rating': 4}), ('Book2', {'author': 'yuvraj', 'genre': 'Fantasy', 'year': 2010, 'rating': 3}), ('Book3', {'author': 'ram', 'genre': 'Mystery', 'year': 2018, 'rating': 2})]

In [2]:

def sort_people_by_age(people):
    sorted_people = sorted(people,key=lambda x:x['age'])
    return sorted_people
people = [
    {'name': 'rahul', 'age': 25},
    {'name': 'yuvraj', 'age': 23},
    {'name': 'ram', 'age': 20}
]
sorted_people = sort_people_by_age(people)
print(sorted_people)

[{'name': 'ram', 'age': 20}, {'name': 'yuvraj', 'age': 23}, {'name': 'rahul', 'age': 25}]